*.py[cod]
__pycache__

# C extensions
*.so
*.lock

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov


# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Pycharm/Intellij
.idea

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
venv/
mailbox_attachments/
tests/test.db
messages/
!/tests/messages/
example/db.sqlite3
mail_admin_attachments/
